.DS_Store
build
.gradle
dist
target
out
*.iml
*.ipr
*.iws
.idea
bin
.project
.classpath
.settings
*.sublime-project
*.sublime-workspace
.vagrant
/chapter05/listing_05_07-copy-cargo-dependencies-to-directory/libs/
